@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Light.woff2") format("woff2");
    font-style: light;
    font-weight: 300;
    font-display: swap;
}